# Android
/app/build/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
.kotlin/

# Keystore
*.jks
*.p12
*.keystore
key.properties

# Google Services
google-services.json

# Gradle
.gradle/
build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/package.nm
fastlane/slather

# VS Code
.vscode/
